body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    margin: none;
}

.first-hept {
    background: #7835E4;
    height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
    z-index: 0;
}

.second-hept{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80vh;
    background: #FDCFE9;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 81%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 81%);
    z-index: -1;
}

.third-hept {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80vh;
    background: #ECEDEE;
    z-index: -2;
}

.main-nav-container {
    display: flex;
    flex: 1;
}

.navbar-static-login {
    border-radius: 20px !important;
}

.mid-card {
    position: absolute;
    left: 0vw;
    top: 20vh;
    width: 100vw;
    height: 70vh;
    /* border: 2px solid green; */
    display: flex;
    flex: 1;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 20px !important;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    width: 300px;
  }

.card-img-container {
    display: flex;
    justify-content: center;
}

.my-img {
    border-radius: 50%;
    height: 100px;
    margin-top: 20px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
  
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-5px);
}